extends layout.pug
block content	
	body.text-center
		.card(style='max-width: 20rem;margin-top:2rem;')
			// Card Header
			.card-header
				| Confirmed Users
			// Card Block
			.card-body
				ul.list-group.list-group-flush
					each users in confirmedUsers
						li.list-group-item= users.email
		.card(style='max-width: 20rem;margin-top:2rem;')
			// Card Header
			.card-header
				| Unconfirmed Users
			// Card Block
			.card-body
				ul.list-group.list-group-flush
					each users in unconfirmedUsers
						li.list-group-item= users.email  
			
